# general
*~
*.log
tmp
dump
 
# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin
 
# SBT
dist
project/play-fork-run.sbt
/project/project
/project/target
/target
.target
 
# Play
/logs/
RUNNING_PID
