<!-- Tabs Go Here -->
<section>
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li ng-class="{ active:tab.isSet(1) }">
      <a href ng-click="tab.setTab(1)">Description</a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href ng-click="tab.setTab(2)">Specs</a>
    </li>
  </ul>

  <!--  Description Tab's Content  -->
  <product-description ng-show="tab.isSet(1)" ></product-description>

  <!--  Specs Tab's Content  -->
  <product-specs ng-show="tab.isSet(2)"></product-specs>

</section>
